<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Welcome to iGem</title>
	<link rel="stylesheet" href="../static/css/login.css">	
</head>

<body>
	<div class="container">
		<div class="left-part"></div>
		
		<div class="reg-part">
			<form id="input-field">
				<div class="input-line">
					<img src="../static/img/login/user.png" alt="username">
					<input type="text" name="username" id="username" placeholder="Username" required>
				</div>
				
				<div class="input-line">
					<img src="../static/img/login/password.png" alt="password">
					<input type="password" name="password" id="password" placeholder="Password" required>
				</div>

				<div class="input-line">
					<img src="../static/img/login/email.png" alt="email">
					<input type="text" name="email" id="email" placeholder="Email address" required>
				</div>

				<div class="input-line">
					<img src="../static/img/login/question.png" alt="question">
					<input type="text" name="question" id="question" placeholder="Question" required>
				</div>

				<div class="input-line">
					<img src="../static/img/login/answer.png" alt="answer">
					<input type="text" name="answer" id="answer" placeholder="Answer" required>
				</div>

				<div class="input-line">
					<img src="../static/img/login/gender.png" alt="gender">
					<!-- <input type="text" name="gender" id="gender" placeholder="Gender" required> -->
					<select name="gender" id="gender" placeholder="gender">
						<option>Male</option>
						<option>Female</option>
					</select>
				</div>

				<a id="reset"></a>
				<a id="register"></a>
			</form>
		</div>
		
		<div class="right-part"></div>
	</div>
	<script src="../static/js/rsa/jsbn.js"></script>
	<script src="../static/js/rsa/jsbn2.js"></script>
    <script src="../static/js/rsa/prng4.js"></script>
    <script src="../static/js/rsa/rng.js"></script>
    <script src="../static/js/rsa/rsa.js"></script>
    <script src="../static/js/rsa/rsa2.js"></script>
	<script src="../static/js/jquery-1.8.0.min.js"></script>
    <script src="../static/js/rsa/sha1.js"></script>
	<script src="../static/js/login.js"></script>
</body>
</html>