

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

#canvas {
  background-color: #FFF;
  border-radius: 6px;
  border: 1px solid #ddd;
  min-height: 450px;
}

.toolbar_icon {
  height: 32px;
  width: 32px;
  margin: 2px;
}













