<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gene Circuit</title>
    <meta name="description" content="">
    <meta name="author" content="rathinho">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/slider_style.css">
    <link rel="stylesheet" href="../static/css/dtree.css">
    <link rel="stylesheet" href="../static/css/graphiti.css"></head>
		<!-- a_why_begin -->
		<link rel="stylesheet" href="../static/jq-ui/themes/ui-lightness/jquery.ui.all.css">
		<link rel="stylesheet" href="../static/css/genecircuit.css">    
		<!-- a_why_end -->

<body>
    <!-- regulation-container starts -->
    <div class="mycontainer" id="regulation-container">
    	<div class="modal fade" id='mymodal'>      
        	<img id='loading' src="../static/img/loading.gif" style='display:block; width:85px; margin: 0 auto;' >      
    	</div> 
        <!-- header starts -->
        <div class="header">
            <!-- logo -->
            <a href="http://2013.igem.org/Team:SYSU-Software" target="_blank">
            <img src="../static/img/logo.png" alt="sysu-software">
			</a>
            <!-- navigation -->
            <div class="nav">
                <ul>
                    <li><a href="index">Regulation network</a></li>
                    <li class="arrow arrow-left" id="index"><a href="javascript:void(0);">&nbsp</a></li>
                    <li class="active"><a href="javascript:void(0);" >Gene Circuit</a></li>
                    <li class="arrow arrow-right" id="linknext"><a href="javascript:void(0);">&nbsp</a></li>
                    <li><a href="javascript:void(0);">Plasmid</a></li>
                    <li><a href="javascript:void(0);">Protocol</a></li>
                    <li><a href="javascript:void(0);">Simulation</a></li>
                </ul>
                <div class="pointer-arrow"></div>
            </div>
        </div>

        <!-- Painting Area -->
        <div id="content">
            <div id="canvas-mask">
							<div id="genecircuit-canvas">
							
								


								<div id="content-row1">
									<div id="regulation-view" class="">
										<div class="module-title">
											<h2>Regulation network</h2>
										</div>
										<div class="browser">
											<img src="../static/img/style-protein.png" />
										</div>
										<button id='btn-edit' class="btn-more" onclick="window.location.pathname = '/index'" data-toggle="tooltip" title="Edit regulation network">Edit</button>
									</div>
									<div id="simulation-view">
										<div class="module-title">
											<h2>Simulation</h2>
										</div>
										<div class="browser" id="simulation">
											<!-- <img src="../static/img/process.png" /> -->
											<div id="canvasDiv">
											</div>
										</div>
										<button id='btn-viewmore' class="btn-more" onclick="jumpToSimulation()" data-toggle="tooltip" title="View customized simulation curves">View more</button>
									</div>
									<div id="dashboard-view">
										
									</div>
								</div>


								<div id="content-row2">
									<div id="plasmids-view">
										
									</div>

									<div id="cmd">
										<!-- <button class="btn-more" id="cmd-new-plasmid" data-toggle="tooltip" title="add a new plasmid">New plasmid</button> -->
										<span class="cmd_undo_redo" id="cmd_undo">
												<img src="../static/img/undo_1.png">
										</span>
										<span class="cmd_undo_redo" id="cmd-new-plasmid" data-toggle="tooltip" title="Add a new plasmid">
												<img src="../static/img/add.png">
										</span>
										<span class="cmd_undo_redo" id="cmd_redo">
												<img src="../static/img/redo_1.png">
										</span>
									</div>
								</div>				
												
							
							
							</div>
            </div>
        </div>

        <!-- right container starts -->
        <div id="right-container">
            <div class="trigger trigger-right"></div>

            <!-- right menu list starts -->
            <div class="accordion" id="accordion2">

                <!-- basic menu starts -->
                <div class="accordion-group">
                    <!-- accordion-heading starts -->
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            Menu
                            <i class="icon-chevron-down" style="display: block; float: right"></i>
                        </a>
                    </div>
                    <!-- accordion-heading ends -->

                    <!-- accordion-body starts -->
                    <div id="collapseOne" class="accordion-body collapse in">
                        <!-- accordion-inner starts -->
                        <div class="accordion-inner">
                            <div id="menu">
                                <!-- userview starts -->
                                <div id="user-view" class="block">
                                    <div id="user-view-left">
                                        <div id="username">Rathinho</div>
                                        <div id="logout">Logout</div>
                                    </div>
                                    <div id="user-view-right">
                                        <div class="avatar-container">
                                            <img src="../static/img/avatar.png">
                                        </div>
                                    </div>
                                </div>
                                <!-- userview ends -->

                                <!-- commandmenu starts -->
                                <div id="commandmenu" class="block">
                                    <div id="button-group">
                                        <button class="mybtn" id="myfile" href="#filelist-modal" data-toggle="modal">My Files</button>
                                        <!-- <button class="mybtn" id="create-part">Create New Part</button> -->
                                    </div>
                                </div>
                                <!-- commandmenu ends -->

                                <!-- filemenu starts -->
                                <div id="filemenu" class="block">
                                    <input id="fn-input" type="text" name="filename" maxlength="10" data-toggle="tooltip" title="filename can not be empty" placeholder="filename">
                                    <button class="mybtn" id="save">
                                        <!-- <i class="icon-ok"></i> -->
                                        √  Save
                                    </button>
                                    <a class="mybtn" id="save-trigger" href="#save-modal" data-toggle="modal" role="button" style="display:none;"></a>
                                    <!-- <button class="mybtn" id="clear" role="button"> -->
                                        <!-- ×  Clear -->
                                    <!-- </button> -->
                                </div>
                                <!-- filemenu ends --> </div>
                            <!-- menu ends --> </div>
                        <!-- accordion-inner ends --> </div>
                    <!-- accordion-body ends --> </div>
                <!-- basic menu ends -->

                <!-- configuration menu starts -->
                <div class="accordion-group">
                    <!-- accordion-group starts -->
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            Configuration
                            <i class="icon-chevron-down" style="display: block; float: right"></i>
                        </a>
                    </div>
                    <!-- accordion-group ends -->

                    <!-- accordion-body starts -->
                    <div id="collapseTwo" class="accordion-body collapse">
                        <!-- accordion-inner starts -->
                        <div class="accordion-inner">

                            <!-- exogenous-factors-config starts -->
                            <div id="exogenous-factors-config" class="block">
                                <span class="config-header">Exogenous-factors Configuration</span>
                                <form id="exogenous-factors-form">
                                    <span class="label">Concentration</span>
                                    <input type="text" name="ConcentrationVal"/>
                                </form>
                            </div>
                            <!-- exogenous-factors-config ends -->

                            <!-- protein-config starts -->
                            <div id="protein-config" class="block">
                                <span class="config-header">Protein Configuration</span>
                                <form id="protein-form">
                                    <span class="label">Expression Value</span>
                                    <input type="text" name="expressionVal"/>
                                </form>
                                <!-- <div class="slider-div">
                                <p>Expression Value</p>
                                <div class="eui_slider" id="slider-1">
                                    <div class="sd_complete"></div>
                                    <div class="sd_thumb"></div>
                                </div>
                                <p id="slider-text-1">0.5</p>
                            </div>

                            <div class="slider-div">
                                <p>Floating Value</p>
                                <div class="eui_slider" id="slider-2">
                                    <div class="sd_complete"></div>
                                    <div class="sd_thumb"></div>
                                </div>
                                <p id="slider-text-2">0</p>
                            </div>
                            -->
                        </div>
                        <!-- protein-config ends -->

                        <!-- component-config starts -->
                        <div id="component-config" class="block" style="display: block">
                            <span class="config-header">Component Config</span>
                            <form id="component-form">
                                <span class="label">Part_id</span>
                                <input type="text" name="part_id"/>
                                <span class="label">Part_name</span>
                                <input type="text" name="part_name"/>
                                <span class="label">Part_short_name</span>
                                <input type="text" name="part_short_name"/>
                                <span class="label">Part_short_desc</span>
                                <input type="text" name="part_short_desc"/>
                                <span class="label">Part_type</span>
                                <input type="text" name="part_type"/>
                                <span class="label">Part_status</span>
                                <input type="text" name="part_status"/>
                                <span class="label">Part_results</span>
                                <input type="text" name="part_results"/>
                                <span class="label">Part_nickname</span>
                                <input type="text" name="part_nickname"/>
                                <span class="label">Part_rating</span>
                                <input type="text" name="part_rating"/>
                                <span class="label">Part_entered</span>
                                <input type="text" name="part_entered"/>
                                <span class="label">Part_author</span>
                                <input type="text" name="part_author"/>
                                <span class="label">Part_quality</span>
                                <input type="text" name="part_quality"/>
                                <span class="label">twins</span>
                                <ul id="twins"></ul>
                            </form>
                        </div>
                        <!-- component-config ends -->

                        <!-- arrow-config starts -->
                        <div id="arrow-config" class="block">
                            <span class="config-header">Arrow Configuration</span>
                            <form id="arrow-form">
                                <span class="label">Regulation Strength</span>
                                <input type="text" name="regStrength"/>
                                <!-- <div class="slider-div">
                                <p>Regulation Strength</p>
                                <div class="eui_slider" id="slider-3">
                                    <div class="sd_complete"></div>
                                    <div class="sd_thumb"></div>
                                </div>
                                <p id="slider-text-3">0.5</p>
                            </div>

                            <div class="slider-div">
                                <p>Floating Value</p>
                                <div class="eui_slider" id="slider-4">
                                    <div class="sd_complete"></div>
                                    <div class="sd_thumb"></div>
                                </div>
                                <p id="slider-text-4">0</p>
                            </div>
                            -->
                        </form>
                    </div>
                    <!-- arrow-config ends --> </div>
                <!-- accordion-inner ends --> </div>
            <!-- accordion-body ends --> </div>
        <!-- configuration menu ends --> </div>
    <!-- right menu list ends -->

</div>
<!-- right container ends -->

<!-- save modal starts -->
<div id="save-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h6 id="myModalLabel">Info</h6>
    </div>
    <div class="modal-body" style="text-align: center;">
        <h4 id="myModalInfo">File Saved!</h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-mini" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
<!-- save modal ends -->

<!-- filelist modal starts -->
<!-- <div id="filelist-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> -->
    <!-- <div class="modal-header"> -->
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
        <!-- <h6>File List</h6> -->
    <!-- </div> -->
    <!-- <div class="modal-body"> -->
        <!-- <div id="filelist"></div> -->
    <!-- </div> -->
    <!-- <div class="modal-footer"> -->
        <!-- <button class="btn btn-success btn-mini" data-dismiss="modal" aria-hidden="true">Close</button> -->
    <!-- </div> -->
<!-- </div> -->
<!-- filelist modal ends -->

<!-- footer starts -->
<div class="footer"></div>
<!-- footer ends -->

<!-- command group starts-->
<div class="cmd-group">
</div>
<!-- command group ends-->

</div>
<!-- regulation-container ends -->

<!-- Jquery and underscore -->
<script src="../static/js/regulation/function.js"></script>
<script src="../static/js/draw_simulation_curve.js"></script>
<script src="../static/js/underscore-min.js"></script>
<script src="../static/js/jquery-1.8.0.min.js"></script>
<script src="../static/js/jquery-ui-1.8.23.custom.min.js"></script>

<!-- graphiti -->
<script src="../static/js/lib/shifty.js"></script>
<script src="../static/js/lib/raphael.js"></script>
<script src="../static/js/lib/jquery.layout.js"></script>

<script src="../static/js/lib/rgbcolor.js"></script>
<script src="../static/js/lib/canvg.js"></script>
<script src="../static/js/lib/Class.js"></script>
<script src="../static/js/lib/json2.js"></script>

<script src="../static/js/graphiti/graphiti.js"></script>
<script src="../static/js/graphiti/SnapToHelper.js"></script>

<script src="../static/js/graphiti/util/Color.js"></script>
<script src="../static/js/graphiti/util/ArrayList.js"></script>
<script src="../static/js/graphiti/util/UUID.js"></script>
<script src="../static/js/graphiti/geo/PositionConstants.js"></script>
<script src="../static/js/graphiti/geo/Point.js"></script>
<script src="../static/js/graphiti/geo/Rectangle.js"></script>

<script src="../static/js/graphiti/command/CommandType.js"></script>
<script src="../static/js/graphiti/command/Command.js"></script>
<script src="../static/js/graphiti/command/CommandStack.js"></script>
<script src="../static/js/graphiti/command/CommandStackEvent.js"></script>
<script src="../static/js/graphiti/command/CommandStackEventListener.js"></script>
<script src="../static/js/graphiti/command/CommandMove.js"></script>
<script src="../static/js/graphiti/command/CommandResize.js"></script>
<script src="../static/js/graphiti/command/CommandConnect.js"></script>
<script src="../static/js/graphiti/command/CommandReconnect.js"></script>
<script src="../static/js/graphiti/command/CommandDelete.js"></script>
<script src="../static/js/graphiti/command/CommandAdd.js"></script>

<script src="../static/js/graphiti/layout/connection/ConnectionRouter.js"></script>
<script src="../static/js/graphiti/layout/connection/DirectRouter.js"></script>
<script src="../static/js/graphiti/layout/connection/ManhattanConnectionRouter.js"></script>

<script src="../static/js/graphiti/layout/mesh/MeshLayouter.js"></script>
<script src="../static/js/graphiti/layout/mesh/ExplodeLayouter.js"></script>
<script src="../static/js/graphiti/layout/mesh/ProposedMeshChange.js"></script>

<script src="../static/js/graphiti/layout/locator/Locator.js"></script>
<script src="../static/js/graphiti/layout/locator/PortLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/InputPortLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/OutputPortLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/ConnectionLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/ManhattanMidpointLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/CenterLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/TopLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/RightLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/LeftLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/BottomLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/TopLeftLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/TopRightLocator.js"></script>
<script src="../static/js/graphiti/layout/locator/BottomRightLocator.js"></script>

<script src="../static/js/graphiti/Canvas.js"></script>
<script src="../static/js/graphiti/Figure.js"></script>
<script src="../static/js/graphiti/shape/node/Node.js"></script>
<script src="../static/js/graphiti/VectorFigure.js"></script>
<script src="../static/js/graphiti/shape/basic/Rectangle.js"></script>
<script src="../static/js/graphiti/SetFigure.js"></script>
<script src="../static/js/graphiti/SVGFigure.js"></script>

<script src="../static/js/graphiti/shape/icon/Icon.js"></script>
<script src="../static/js/graphiti/shape/icon/ProteinIcon.js"></script>
<script src="../static/js/graphiti/shape/icon/InducerIcon.js"></script>
<script src="../static/js/graphiti/shape/icon/MetalIonIcon.js"></script>
<script src="../static/js/graphiti/shape/icon/TemperatureIcon.js"></script>
<script src="../static/js/graphiti/shape/icon/RORAIcon.js"></script>
<script src="../static/js/graphiti/shape/icon/PandR.js"></script>
<script src="../static/js/graphiti/shape/icon/PandA.js"></script>
<script src="../static/js/graphiti/shape/icon/PandP.js"></script>
<script src="../static/js/graphiti/shape/icon/PandRORA.js"></script>
<script src="../static/js/graphiti/shape/icon/Remove.js"></script>
<script src="../static/js/graphiti/shape/icon/Activate.js"></script>
<script src="../static/js/graphiti/shape/icon/Inhibit.js"></script>
<script src="../static/js/graphiti/shape/icon/CoExpress.js"></script>

<script src="../static/js/graphiti/shape/basic/Oval.js"></script>
<script src="../static/js/graphiti/shape/basic/Circle.js"></script>
<script src="../static/js/graphiti/shape/basic/Diamond.js"></script>
<script src="../static/js/graphiti/shape/basic/Label.js"></script>
<script src="../static/js/graphiti/shape/basic/Line.js"></script>
<script src="../static/js/graphiti/shape/basic/PolyLine.js"></script>
<script src="../static/js/graphiti/Connection.js"></script>
<script src="../static/js/graphiti/ResizeHandle.js"></script>
<script src="../static/js/graphiti/LineResizeHandle.js"></script>
<script src="../static/js/graphiti/LineStartResizeHandle.js"></script>
<script src="../static/js/graphiti/LineEndResizeHandle.js"></script>
<script src="../static/js/graphiti/Port.js"></script>
<script src="../static/js/graphiti/InputPort.js"></script>
<script src="../static/js/graphiti/OutputPort.js"></script>
<script src="../static/js/graphiti/HybridPort.js"></script>
<script src="../static/js/graphiti/ConnectionAnchor.js"></script>

<script src="../static/js/graphiti/shape/arrow/CalligrapherArrowLeft.js"></script>
<script src="../static/js/graphiti/shape/arrow/CalligrapherArrowDownLeft.js"></script>
<script src="../static/js/graphiti/shape/node/Start.js"></script>
<script src="../static/js/graphiti/shape/node/End.js"></script>
<script src="../static/js/graphiti/shape/node/Between.js"></script>
<script src="../static/js/graphiti/shape/note/PostIt.js"></script>

<script src="../static/js/graphiti/shape/widget/Widget.js"></script>
<script src="../static/js/graphiti/shape/widget/Slider.js"></script>

<script src="../static/js/graphiti/shape/diagram/Diagram.js"></script>
<script src="../static/js/graphiti/shape/diagram/Pie.js"></script>
<script src="../static/js/graphiti/shape/diagram/Sparkline.js"></script>

<script src="../static/js/graphiti/shape/analog/OpAmp.js"></script>
<script src="../static/js/graphiti/shape/analog/ResistorBridge.js"></script>
<script src="../static/js/graphiti/shape/analog/ResistorVertical.js"></script>
<script src="../static/js/graphiti/shape/analog/VoltageSupplyHorizontal.js"></script>
<script src="../static/js/graphiti/shape/analog/VoltageSupplyVertical.js"></script>

<script src="../static/js/graphiti/ui/LabelEditor.js"></script>
<script src="../static/js/graphiti/ui/LabelInplaceEditor.js"></script>

<script src="../static/js/graphiti/io/Reader.js"></script>
<script src="../static/js/graphiti/io/Writer.js"></script>
<script src="../static/js/graphiti/io/png/Writer.js"></script>
<script src="../static/js/graphiti/io/svg/Writer.js"></script>
<script src="../static/js/graphiti/io/json/Writer.js"></script>
<script src="../static/js/graphiti/io/json/Reader.js"></script>

<script src="../static/js/graphiti/decoration/connection/Decorator.js"></script>
<script src="../static/js/graphiti/decoration/connection/ArrowDecorator.js"></script>

<!-- Custom js -->
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/bootstrap-tooltip.js"></script>
<script src="../static/js/bootstrap-popover.js"></script>
<script src="../static/js/regulation/base/js/easy.js"></script>
<script src="../static/js/regulation/dtree.js"></script>
<script src="../static/js/regulation/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="../static/js/regulation/biobrickAdder.js"></script>
<script src="../static/js/regulation/mytree.js"></script>
<!-- <script src="../static/js/regulation/graphiti.js"></script> -->
<!-- a_why_begin -->
<script src="../static/js/genecircuit/genecircuit.js"></script>
<script src="../static/js/ichartjs.v1.2/ichart.1.2.min.js"></script>
<script src="../static/js/genecircuit/regulation.js"></script>  
<!-- <script src="../static/js/simulation.js"></script> -->
<!-- <script src="../static/js/simulation/simulationFilMenu.js"></script>  -->
<!-- <script src="../static/js/regulation/regulation.js"></script> -->
<!-- a_why_end -->

</body>
</html>
