<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Welcome to iGem</title>
	<link rel="stylesheet" href="../static/css/login.css">	
</head>

<body>
	<div class="container">
		<div class="left-part"></div>
		
		<div class="login-part">
			<form id="input-field">
				<input type="text" name="userName" id="username" placeholder="username" required>
				<input type="password" name="password" id="password" placeholder="password" required>
				<a id="btn-login"></a>
			</form>

			<div class="tips">
				<span id="mycheckbox" title="暂时不可用，正在建设中">
					<span class="checkbox-mask"></span>					
					<span>&nbsp Remember me</span>
				</span>
				<input id="remember" type="checkbox" name="remember">

				<a href="#help" title="click to get help">Having trouble logging in ?</a>
			</div>

			<div class="contact-us">
				<a id="facebook" href="#" title="facebook"><img src="../static/img/login/facebook.png" alt="facebook"></a>
				<a id="twitter" href="#" title="twitter"><img src="../static/img/login/twitter.png" alt="twitter"></a>
				<a id="gplus" href="#" title="gplus"><img src="../static/img/login/gplus.png" alt="gplus"></a>
			</div>
		</div>
		
		<div class="right-part">
			<div class="reg-test" style="border: 2px solid red; background: #ccc">
				<h1>只是测试，很快你就看不到它了</h1>
				<input type="text" name="user" placeholder="username">
				<input type="password" name="pw" placeholder="password">
				<input type="text" name="email" placeholder="email">
				<input type="text" name="gender" placeholder="gender">
				<button id="reg">注册</button>
			</div>
		</div>
	</div>
	<script src="../static/js/rsa/jsbn.js"></script>
	<script src="../static/js/rsa/jsbn2.js"></script>
    <script src="../static/js/rsa/prng4.js"></script>
    <script src="../static/js/rsa/rng.js"></script>
    <script src="../static/js/rsa/rsa.js"></script>
    <script src="../static/js/rsa/rsa2.js"></script>
	<script src="../static/js/jquery-1.8.0.min.js"></script>
    <script src="../static/js/rsa/sha1.js"></script>
	<script src="../static/js/login.js"></script>
</body>
</html>