<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Graphiti</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="../static/css/dtree.css">-->
  <link rel="stylesheet" href="../static/css/bootstrap-responsive.min.css">
  <!--<link rel="stylesheet" href="../static/css/graphiti.css">-->
  <script type="text/javascript" src="../static/js/lib/ZeroClipboard.js"></script>
  <script type="text/javascript" src="../static/js/ichartjs.v1.2/ichart.1.2.min.js"></script>  
  <link rel="stylesheet" href="../static/css/demo.css" type="text/css"/>	

</head>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<body bgcolor="#FFFFFF">
  <div class="container" style="background-color:white;">
    <h1>Plasmid</h1>
    <div class="footer">
    	<button class="btn" onclick="window.location.pathname = '/index'">Regulation network</button>
    	<button class="btn" onclick="window.location.pathname = '/genecircuit'">Gene Circuit</button>      
    	<button class="btn" onclick="window.location.pathname = '/plasmid'">Plasmid</button>
    	<button class="btn" onclick="window.location.pathname = '/protocol'">Protocol</button>
   		<button class="btn" onclick="window.location.pathname = '/simulation'">Simulation</button>
    </div>
    <div id='seqPanel' style="width:100%;height:100px;float:left;">
		<label id='x1' style="width:25%;height:15px;float:left;">1</label>    
		<label id='x2' style="width:25%;height:15px;float:left;">46</label>
		<label id='x3' style="width:25%;height:15px;float:left;">91</label>
        <label id='x4' style="width:25%;height:15px;float:left;">136</label>
        <textarea name="" cols="180" rows="1" readonly wrap="off" id="seqCurrentText" style="resize: none;width:100%;height:15px;overflow:hidden;font-size:12px;" onClick="seqTextOnClickHandler(this);" onSelect="seqTextOnClickHandler(this);"></textarea>        
        <svg id="svgPanel" onload="" style="width:100%;height:20px;float:left;">  			
		</svg>
    </div>
    <div id='canvasDiv' style="width:67%;height:400px;float:left;">    	
    </div>  
    <div id='optionpanel' style="width:33%;height:400px;float:left;">
   		<select name="standard" style="width:100%;height:10%">
        	<option selected="selected" value="">Assembly Standard</option>
            <option value="RFC 10">RFC 10</option>
            <option value="RFC 20">RFC 20</option>
            <option value="RFC 21">RFC 21</option>
            <option value="RFC 23">RFC 23</option>
        </select>
        <select name="backbone" style="width:100%;height:10%">
        	<option selected="selected" value="">Plasmid Backbone</option>
            <optgroup label="Archive">
            	<option value="pSB1A2.xml">pSB1A2.xml</option>
                <option value="pSB2K0.xml">pSB2K0.xml</option>
                <option value="pSB4A1.xml">pSB4A1.xml</option>
                <option value="pSB4A3.xml">pSB4A3.xml</option>
            </optgroup>
            <optgroup label="Assembly">
            	<option value="pSB1A3.xml">pSB1A3.xml</option>
                <option value="pSB1A7.xml">pSB1A7.xml</option>
                <option value="pSB1AC3.xml">pSB1AC3.xml</option>
                <option value="pSB1AK3.xml">pSB1AK3.xml</option>
                <option value="pSB1AT3.xml">pSB1AT3.xml</option>
                <option value="pSB1C3.xml">pSB1C3.xml</option>
                <option value="pSB1K3.xml">pSB1K3.xml</option>
                <option value="pSB1T3.xml">pSB1T3.xml</option>
                <option value="pSB2K3.xml">pSB2K3.xml</option>
                <option value="pSB2K4.xml">pSB2K4.xml</option>
                <option value="pSB3C5.xml">pSB3C5.xml</option>
                <option value="pSB3K5.xml">pSB3K5.xml</option>
                <option value="pSB3T5.xml">pSB3T5.xml</option>
                <option value="pSB4A5.xml">pSB4A5.xml</option>
                <option value="pSB4C5.xml">pSB4C5.xml</option>
                <option value="pSB4K5.xml">pSB4K5.xml</option>
                <option value="pSB4T5.xml">pSB4T5.xml</option>
            </optgroup>
			<optgroup label="Assembly of protein fusions">
            	<option value="BBa_J18901.xml">BBa_J18901.xml</option>
                <option value="BBa_J18902.xml">BBa_J18902.xml</option>
                <option value="BBa_J18903.xml">BBa_J18903.xml</option>
                <option value="BBa_J63009.xml">BBa_J63009.xml</option>
                <option value="BBa_J63010.xml">BBa_J63010.xml</option>
                <option value="BBa_K157000.xml">BBa_K157000.xml</option>
            </optgroup>
            <optgroup label="BioBrick friendly plasmid backbones">
            	<option value="BBa_B0045.xml">BBa_B0045.xml</option>
                <option value="BBa_I732950.xml">BBa_I732950.xml</option>
                <option value="BBa_I732952.xml">BBa_I732952.xml</option>
                <option value="BBa_I750017.xml">BBa_I750017.xml</option>
                <option value="BBa_J23006.xml">BBa_J23006.xml</option>
                <option value="BBa_J23018.xml">BBa_J23018.xml</option>
                <option value="BBa_J23019.xml">BBa_J23019.xml</option>
                <option value="BBa_J61002.xml">BBa_J61002.xml</option>
                <option value="BBa_J61003.xml">BBa_J61003.xml</option>
                <option value="BBa_J61031.xml">BBa_J61031.xml</option>
                <option value="BBa_J61035.xml">BBa_J61035.xml</option>
                <option value="BBa_K133041.xml">BBa_K133041.xml</option>
                <option value="BBa_K592202.xml">BBa_K592202.xml</option>
            </optgroup>
            <optgroup label="Commercial gene synthesis">
            	<option value="BBa_J70003.xml">BBa_J70003.xml</option>
                <option value="BBa_J70004.xml">BBa_J70004.xml</option>
                <option value="BBa_J70022.xml">BBa_J70022.xml</option>
                <option value="pSB1A1.xml">pSB1A1.xml</option>
            </optgroup>
            <optgroup label="Expression plasmids">
            	<option value="BBa_J04500.xml">BBa_J04500.xml</option>
                <option value="BBa_J13002.xml">BBa_J13002.xml</option>
                <option value="BBa_J13023.xml">BBa_J13023.xml</option>
                <option value="BBa_J23038.xml">BBa_J23038.xml</option>
                <option value="BBa_K215000.xml">BBa_K215000.xml</option>
                <option value="BBa_K345667.xml">BBa_K345667.xml</option>
                <option value="BBa_S03511.xml">BBa_S03511.xml</option>
            </optgroup>
            <optgroup label="Measurement">
            	<option value="BBa_J23101.xml">BBa_J23101.xml</option>
				<option value="pSB1A10 .xml">pSB1A10 .xml</option>
            </optgroup>
            <optgroup label="Other assembly standard plasmid backbones">
            	<option value="BBa_I716101.xml">BBa_I716101.xml</option>
                <option value="BBa_K106006.xml">BBa_K106006.xml</option>
                <option value="BBa_K106014.xml">BBa_K106014.xml</option>
                <option value="BBa_K106670.xml">BBa_K106670.xml</option>
                <option value="BBa_K106672.xml">BBa_K106672.xml</option>
                <option value="BBa_K106693.xml">BBa_K106693.xml</option>
                <option value="BBa_K106697.xml">BBa_K106697.xml</option>
                <option value="BBa_K106698.xml">BBa_K106698.xml</option>
                <option value="BBa_K112125.xml">BBa_K112125.xml</option>
                <option value="BBa_K209432.xml">BBa_K209432.xml</option>
            </optgroup>
            <optgroup label="Screening libraries of parts">
                <option value="BBa_I732950.xml">BBa_I732950.xml</option>
                <option value="BBa_I732952.xml">BBa_I732952.xml</option>
                <option value="BBa_J23006.xml">BBa_J23006.xml</option>
                <option value="BBa_J23018.xml">BBa_J23018.xml</option>
                <option value="BBa_J23019.xml">BBa_J23019.xml</option>
                <option value="BBa_J61002.xml">BBa_J61002.xml</option>
                <option value="BBa_J61003.xml">BBa_J61003.xml</option>
            </optgroup>
            <optgroup label="System operation">
                <option value="BBa_I742123.xml">BBa_I742123.xml</option>
                <option value="BBa_J64100.xml">BBa_J64100.xml</option>
                <option value="BBa_K125000.xml">BBa_K125000.xml</option>
                <option value="BBa_K157040.xml">BBa_K157040.xml</option>
                <option value="BBa_K157041.xml">BBa_K157041.xml</option>
                <option value="BBa_K592200.xml">BBa_K592200.xml</option>
                <option value="pSB1AK8.xml">pSB1AK8.xml</option>
                <option value="pSB2K3.xml">pSB2K3.xml</option>
                <option value="pSB2K4.xml">pSB2K4.xml</option>
                <option value="pSB3C5.xml">pSB3C5.xml</option>
                <option value="pSB3K1.xml">pSB3K1.xml</option>
                <option value="pSB3K3.xml">pSB3K3.xml</option>
                <option value="pSB3K5.xml">pSB3K5.xml</option>
                <option value="pSB3T5.xml">pSB3T5.xml</option>
                <option value="pSB4A5.xml">pSB4A5.xml</option>
                <option value="pSB4C1.xml">pSB4C1.xml</option>
                <option value="pSB4C5.xml">pSB4C5.xml</option>
                <option value="pSB4K5.xml">pSB4K5.xml</option>
                <option value="pSB4T5.xml">pSB4T5.xml</option>
                <option value="pSB6A1.xml">pSB6A1.xml</option>
            </optgroup>
        </select>
        <input name="saveplasmidgraphBtn" style="width:100%;height:10%;" type="submit" value="Save Plasmid Graph"/>
        <div style="width:100%;height:10%;">
            <label style="height:100%;float:left;">Sequence</label>
            <input id="copy-botton" style="cursor:pointer;height:100%;float:right;" type="submit" value="copy" />        </div>    	        
        <div style="width:100%;height: 60%; overflow: scroll; overflow-x: hidden;border-color:#FF0000;border-style:solid;border-width:2px;word-break:break-all;" id="sequenceDiv">
        </div>
	</div>  
  </div> <!-- /container -->
<!--
<script src="../static/js/underscore-min.js"></script>
<script src="../static/js/jquery-1.8.0.min.js"></script>
<script src="../static/js/jquery-ui-1.8.23.custom.min.js"></script>-->

<!-- graphiti -->

<!--<script src="../static/js/lib/shifty.js"></script>
<script src="../static/js/lib/raphael.js"></script>
<script src="../static/js/lib/jquery.layout.js"></script>

<script src="../static/js/lib/rgbcolor.js"></script>
<script src="../static/js/lib/canvg.js"></script>
<script src="../static/js/lib/Class.js"></script>
<script src="../static/js/lib/json2.js"></script>-->


<!-- <script src="static/js/libs/bootstrap/bootstrap.min.js"></script> -->
  <script src="../static/js/plasmid (2).js"></script>
  </div>
  </body>
</html>
