

/* ===== Primary Styles ========================================================
   Author: Rathinho
   ========================================================================== */
body {
  margin: 0;
  background-color: #222; 
  overflow: hidden;
}

#content {

  width: 1349px;
  min-width: 1349px;
  height: 530px;
  margin: 20px auto;
}

#catalog {
  position: absolute;
  overflow: auto;
  top: 0;
  left: -250px;
  width: 250px;
  height: 621px;
  padding: 10px;  
	border-radius: 2px;
  box-shadow: -1px 1px 5px #fff;
	background-color: #333;
  z-index: 1055;
  transition: left 0.5s;
  -webkit-transition: left 0.5s;   /* Safari 和 Chrome */
}

#catalog:hover {
  left: 0;
}

#catalog .dtree, #catalog a {
  color: #fff;
}

#canvas {	
  margin: 0 auto;
  width: 1225px;
  min-height: 520px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: #FFF;
  
}

#toolbar {
  position: absolute;
  overflow: auto;
  top: 0;
  right: -250px;
  width: 250px;
  height: 621px;
  padding: 10px;  
  border-radius: 2px;
  box-shadow: 1px 1px 5px #fff;
  background-color: #333;
  z-index: 1055;
  transition: right 0.5s;
  -webkit-transition: right 0.5s;   /* Safari 和 Chrome */
}

#toolbar:hover {
  right: 0;
}

.toolbar_icon {
  height: 32px;
  width: 32px;
  margin: 2px;
}

#toggleBar {
  position: absolute;
  display: none;
  width: 137px;
  height: 25px;
}

#configBar p {
  word-break: break-all;
  width: 130px;
}

#configBar label {
  margin-bottom: 0px;
}

#configBar input {
  width: 80px;
}

.footer {
  width: 470px;
  height: 30px;
  margin: 10px auto;
}











