

/* ===== Primary Styles ========================================================
   Author: Rathinho
   ========================================================================== */
body {
  margin: 0;
  background-color: #333; 
  overflow: hidden;
}

.modal {
  left: 60%;
  width: 200px;
}

.modal.fade.in {
  top: 75%;
}

#content {

  width: 1349px;
  min-width: 1349px;
  height: 554px;
  margin: 20px auto;
}

#left-container {
  position: absolute;
  top: 0;
  left: -261px;
  width: 250px;
  height: 621px;
  padding: 10px;  
	border-radius: 2px;
  box-shadow: 2px 2px 5px #111;
	background-color: #444;
  z-index: 1055;
  transition: left 0.5s;
  -webkit-transition: left 0.5s;   /* Safari 和 Chrome */
}

#left-container #catalog {
  height: 530px;
  overflow: auto;
}

#left-container .accordion-group {
  background-color: #444;
}

#left-container .accordion-heading:hover {
  background-color: #ccc;
}

#left-container .accordion-heading a {
  text-decoration: none;
}

#left-container .accordion-heading a:hover {
  color: #33496B;
}


#left-container .accordion-inner {
  padding: 9px 0 9px 15px;
}

#left-container:hover {
  left: 0;
}

#left-container .dtree, #left-container a {
  color: #fff;
}

#canvas {	
  margin: 0 auto;
  width: 1225px;
  min-height: 554px;
  border-radius: 6px;
  background-color: #FFF;  
}

#toolbar {
  display: none;
  position: absolute;
  overflow: auto;
  top: 0;
  right: -250px;
  width: 250px;
  height: 621px;
  padding: 10px;  
  border-radius: 2px;
  box-shadow: -2px 2px 5px #111;
  background-color: #333;
  z-index: 1055;
  transition: right 0.5s;
  -webkit-transition: right 0.5s;   /* Safari 和 Chrome */
}

#toolbar:hover {
  right: 0;
}

.toolbar_icon {
  height: 32px;
  width: 32px;
  margin: 2px;
}

#toggleBar {
  position: absolute;
  display: none;
  width: 137px;
  height: 25px;
}

#right-container {
  position: absolute;
  overflow: auto;
  top: 0;
  right: -261px;
  width: 250px;
  height: 621px;
  padding: 10px;  
  border-radius: 2px;
  box-shadow: -2px 2px 5px #111;
  background-color: #444;
  z-index: 1055;
  transition: right 0.5s;
  -webkit-transition: right 0.5s;   /* Safari 和 Chrome */
}

#right-container:hover {
  right: 0;
}

#right-container .accordion-group {
  background-color: #fff;
}

#right-container .accordion-heading:hover {
  background-color: #ccc;
}

#right-container .accordion-heading a {
  text-decoration: none;
}

#right-container #user-view {
  width: 198px;
  height: 110px;
  margin-bottom: 5px;
}

#right-container #user-view-left {
  float: left;
  width: 68px;
  height: 70px;
  padding: 20px 20px 20px 0;
  text-align: center;
  font-size: 20px;
}

#right-container #user-view-left #logout {
  text-decoration: none;
}

#right-container #user-view-left #logout:hover {
  text-shadow: 1px 1px 2px #333;
}

#right-container #user-view-right {
  float: left;
  width: 110px;
}

#right-container #commandmenu {
  width: 198px;
  margin-bottom: 5px;
}

#right-container #commandmenu #button-group {
  width: 117px;
  margin: 0 auto;
}

#right-container #filemenu {
  margin-bottom: 5px;
}

#right-container #filemenu input {
  width: 188px;
}

#right-container #filemenu a {
  display: block;
  width: 100px;
  margin: 15px auto;
}

#right-container .slider-div {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#right-container #exogenous-factors-config {
  display: none;
  width: 198px;
  margin-bottom: 10px;
}

#right-container #protein-config {
  display: none;
  width: 198px;
  margin-bottom: 10px;
}

#right-container #component-config {
  display: none;
  width: 228px;
  margin-bottom: 10px;
  padding: 9px;
  padding-right: 0;
}

#right-container #component-form {
  margin-top: 20px;
  height: 440px;
  overflow: auto;
}

#right-container .accordion-inner {
  padding: 9px 2px 9px 5px;
}

#right-container #component-form input {
  width: 187px;
  margin-bottom: 10px;
}

#right-container #arrow-config {
  display: none;
  width: 198px;
  margin-bottom: 10px;
}

#right-container .config-active {
  display: block;
}

.footer {
  width: 470px;
  height: 30px;
  margin: 10px auto;
}











