

/* ===== Primary Styles ========================================================
   Author: Rathinho
   ========================================================================== */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #222; 
}


#catalog {
  position: absolute;
  padding: 10px;
  height: 250px;
  width: 250px;
  overflow: auto;
	border-radius: 2px;
	background-color: #333;
}

#catalog .dtree, #catalog a {
  color: #fff;
}

#canvas {	
  margin-left: 250px;
  background-color: #FFF;
  border-radius: 6px;
  border: 1px solid #ddd;
  min-height: 500px;
}

.toolbar_icon {
  height: 32px;
  width: 32px;
  margin: 2px;
}

#toggleBar {
  position: absolute;
  display: none;
  width: 137px;
  height: 25px;
}

#configBar p {
  word-break: break-all;
  width: 130px;
}

#configBar label {
  margin-bottom: 0px;
}

#configBar input {
  width: 80px;
}

.footer {
  width: 500px;
  margin: 10px auto;
}











